@import url("./pages/_home.scss");
@import url("./pages/_favorites.scss");
@import url("./pages/_details.scss");
@import url("./components/_header.scss");
@import url("./components/_card.scss");
@import url("./components/_form.scss");

// Import Roboto font
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Arial;
}
