// colors
$header_background_color: rgb(35, 67, 78);
$white: #FFF;
$pink: #eb4d4b;
$pink_btn_hover: rgb(219, 157, 168);
$card_text_grey: rgb(224, 185, 185);
$yellow_star: rgb(243, 204, 30);
$blue_button: rgb(140, 142, 236);
$body_grey: rgb(20, 47, 56);

// heights
$header_height : 7.5vh;
$form_height: 15vh;
$card_width: 300px;
$card_height: 680px;